.form__container {
    margin: auto;
    border: var(--xd-white) 2px solid;
    border-radius: 30px;
}

.form__wrapper {
    display: flex;
    flex-direction: column;
    padding: 40px;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 30px;
}

.field {
    width: 100%;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.button1 {
    background: var(--xd-black);
    font-size: 20px;
}

.button1:first-child {
    border-color: var(--xd-blue);
}

.button1:last-child {
    border-color: var(--xd-blue);
}